<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to example.com,</h1>
<p>
  You have successfully signed up to example.com,
  your username is.<br>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>


<footer class="footer section mt-auto">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="row col-6">
            <div class="col-md-3">
                <h3>About us</h3>
              <div class="lh-lg">
                <%= link_to "Contact us", contact_path %>
                <br>
                <%= link_to "About safe place", about_app_path %>
                <br>
                <%= link_to "Term and condition", term_path %>
                <br>
              </div>
            </div>
            <div class="col-md-3">
                <h3>Communities</h3>
                <%= link_to "About us", about_us_path %>
                <br>
              </div>
            <div class="col-md-3">
                  <h3>Useful links</h3>
              <div class="lh-lg">
                  <%= link_to "Support", support_path %>
                  <br>
                  <%= link_to "Free Mobile App", mobile_app_path %>
                  <br>
              </div>
            </div>
            <div class="col-md-3 row justify-content-end">
              <div class="col-lg-3">
                <i class="fa-brands fa-facebook fa-2xl"></i>
              </div>
              <div class="col-lg-3">
                <i class="fa-brands fa-square-youtube fa-2xl"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
</footer>

