<%= form_for @student_class, url: manager_student_classes_path, html: { method: :post }, remote: true do |form| %>
  <div class="modal-body">
    <div class="form-group">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :teacher_id, 'Select Teacher', class: 'form-label' %>
      <%= form.select :teacher_id, @teachers.map { |t| [t.name, t.id]}, {}, class: "form-select" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= form.submit "Create New Class", class: "btn btn-primary"%>
  </div>
<% end %>